
.icon-block-1:before { content: '\e800'; } /* '' */
.icon-block-2:before { content: '\e801'; } /* '' */
.icon-block-3:before { content: '\e802'; } /* '' */
.icon-water:before { content: '\e803'; } /* '' */
.icon-sun-filled:before { content: '\e804'; } /* '' */
.icon-tint:before { content: '\e805'; } /* '' */
.icon-asterisk:before { content: '\e806'; } /* '' */
.icon-cloud:before { content: '\e807'; } /* '' */
.icon-cloud-1:before { content: '\e808'; } /* '' */
.icon-loop:before { content: '\e809'; } /* '' */
.icon-droplet:before { content: '\e80a'; } /* '' */
.icon-air:before { content: '\e80b'; } /* '' */
.icon-flow-line:before { content: '\e80c'; } /* '' */
.icon-cog-outline:before { content: '\e80d'; } /* '' */
.icon-waves:before { content: '\e80e'; } /* '' */
.icon-looped-square-interest:before { content: '\e80f'; } /* '' */
.icon-cancel:before { content: '\e811'; } /* '' */
.icon-flash-1:before { content: '\e812'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-level-down:before { content: '\f160'; } /* '' */
.icon-level-up:before { content: '\f161'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-empire:before { content: '\f1d1'; } /* '' */
.icon-mouse-pointer:before { content: '\f245'; } /* '' */
